<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="/css/main.css">
        <script src="/bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        <% include navbar %>
        <div class="wrap">
          <div class="table-view">
            <% articles.forEach(function (article) { %>
              <div class="section">
                <img src="<%= article.primary_image %>"/>
                <h4>
                  <a href="/blog/article/<%= article.prefix %>"><%= article.title %></a>
                </h4>
                <div class="date"><%= article.created_at %></div>
                <p class="summary"><%= article.summary %></p>
              </div>
            <% }) %>

          </div>
            <div class="pagination">
              <% if(articles.length > 5 && parseInt(page) != 0) { %>
                <div class="fl"><a href="/blog/page/<%= parseInt(page) - parseInt(1) %>">上一页</a></div>
              <% } %>

              <% if(articles.length > 5 && parseInt(page) == 0) { %>
                <div class="fr"><a href="/blog/page/<%= parseInt(page) + parseInt(1) %>">下一页</a></div>
              <% } %>
              <div class="clearfix"></div>
            </div>
        </div>

        <% include footer %>

    </body>
</html>
